* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

#display {
    font-size: 56px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgb(31, 40, 49);
    padding: 30px 0px;
    text-align: right;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 16px;
    row-gap: 16px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 18px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: rgba(211, 211, 211, 0.223);
    cursor: pointer;
    color: rgb(31, 40, 49);
}

button:hover {
    background-color: rgba(211, 211, 211, 0.381);
}

.operator {
    background-color: rgba(211, 211, 211, 0.738);
    color: rgb(31, 40, 49);
}

.operator:hover {
    background-color: rgba(165, 165, 165, 0.507);
}

#equals {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: mediumslateblue;
    color: white;
}

#equals:hover {
    background-color: slateblue;
}

#reset {
    color: mediumslateblue;
}