* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 8px;
    row-gap: 8px;
}